*{
    font-family: calibri;
}

li {
    list-style-type: none;

}

a{
text-decoration: none;
color: black;
}

body{
    background-color: rgb(183, 226, 241);
}

h1{
    display: flex;
    justify-content: center;
    font-variant-caps: small-caps;
    font-size: 60px;
}

img{
    border-radius: 30px;
}

/*HEADER*/
#cabecera{
    display: flex;
    justify-content: center;
    padding: 20px;
}


header >  nav > ul{
    background-color: white;
    border: none;
    color: black;
    padding: 16px;
    font-size: 20px;
    border-radius: 10px;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    transition: background-color 0.5s ease, color 0.5s ease;
}

header >  nav > ul li a:hover{
    text-decoration: none;
    background-color: aquamarine;
    padding: 10px;
    border-radius: 15px;
}
/*-------------------------*/

/*APARTADO QUIÉNES SOMOS*/
#quienes_somos{
    display: flex;
    flex-direction: row;
    text-align: justify;
    align-items: center;
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    margin: 30px;
}

#quienes_somos p{
    display: flex;
    text-align: justify;
    flex-wrap: wrap;
    margin-left: 30px;
    font-size: 25px;
}
/*-------------------------*/

/*PROYECTOS*/
.proyectos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    padding: 25px;
}

.proyectos a{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    text-align: center;
    font-size: 20px;
    font-variant-caps: small-caps;
    font-weight: bold;
    border-radius: 30px;
    transition: transform 0.6s ease;
}
.proyectos a:hover{
    color: white;
    background-color: blueviolet;
    transform: translateY(-8px); 
}
/*-------------------------*/

/*FOTOS DE AUTORES*/
figcaption{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    font-size: 25px;
    line-height: 30px;
    flex-grow: 1;
}

#fotodani{
    display: flex;
    flex-direction: row;
    text-align: justify;
    padding: 30px;
    background-color: white;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    transition: transform 0.6s ease;
}
#fotodani:hover{
    color: white;
    background-color: blueviolet;
    transform: translateY(-8px);   
}

#fotopepe{
    display: flex;
    flex-direction: row-reverse;
    text-align: justify;
    padding: 30px;
    background-color: white;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    transition: transform 0.6s ease;
}
#fotopepe:hover{
    color: white;
    background-color: blueviolet;
    transform: translateY(-8px);   
}


#fotodavid{
    display: flex;
    flex-direction: row;
    text-align: justify;
    padding: 30px;
    background-color: white;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    transition: transform 0.6s ease;
}
#fotodavid:hover{
    color: white;
    background-color: blueviolet;
    transform: translateY(-8px);   
}

#fotoivan{
    display: flex;
    flex-direction: row-reverse;
    text-align: justify;
    padding: 30px;
    background-color: white;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    transition: transform 0.6s ease;
}
#fotoivan:hover{
    color: white;
    background-color: blueviolet;
    transform: translateY(-8px);   
}
/*-------------------------*/

p{
    padding-bottom: -10px;
}

/*CONTACTO*/
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.consulta{
    font-size: 20px;
    text-align: center;
}

#contacto {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: white;
    padding: 30px;
    border-radius: 30px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input, textarea {
    padding: 13px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 15px;
  
}

.button{
    background-color: aquamarine;
    color: black;
    padding: 15px;
    border: none;
    border-radius: 15px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.6s ease;
}

.button:hover{
    background-color: purple;
    color: white;
}
/*-------------------------*/

/*FOOTER*/
footer{
    color: black;
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    line-height: 30px;
}
/*-------------------------*/

/*PÁGINA DE PROTO*/
#proto{
    display: flex;
    padding: 30px;
    flex-wrap: nowrap;
    background-color: white;
    align-items: center;
    border-radius: 30px;
    margin-bottom: 50px;
}

.formularioproto{
    font-size: 19px;
    line-height: 20px;
    align-items: center;
    margin-left: 30px;
}

.descripcionproto{
    font-size: 19px;
    line-height: 20px;
    margin-left: 30px;
    margin-top: 40px;
}

/*-------------------------*/
